/* FONTS*::::::::::::::::::::::::::::::::::::::::/
/* font-family: 'Fira Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');
/* font-family: 'Merriweather', serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* RESETS ::::::::::::::::::::::::::::::::::::::::*/

html, body
{
    height: 100%;
}
body{
    margin:0;
    background-color: rgb(51, 170, 250);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
      /*FONTS*/
      font-weight: 400;
      font-size: 1em;
      text-decoration: none; 
    
      
}
ul, ol { 
list-style-type: none;
}
b.bold{
    font-weight: 900;
}

img{
    width: auto;
	max-width: 100%;

}

/* CSS ::::::::::::::::::::::::::::::::::::::::*/


.container {
    display: flow-root;
    background-color: rgb(189, 187, 181);
    width:auto;
    max-width: 80%;
    padding:0 1em;
    margin: 0 auto;

}

.padd-section {
padding:0 1em;
display: flow-root;
}

.mar-list {
margin: 1em 0;
}

.mar-bger-section {
    margin: 1em 0;
    display: flow-root;
    }
    

.bg-header-secion{
    background: #000000; 
    
}

.bg-main-secion{
    background: #ffffff; 
    
    
}

.bg-footer-secion{
    background: #a5a2a7; 
    
}
.white-strong {
    font-weight:900; 
    color:rgb(255, 255, 255);
   
}

.f-yellow{
    font-weight: bolder; 
    color:  #ffbc48; 
    text-decoration-line:underline ;
}
.bg-yllw {
    color: black;
    font-weight: bolder; 
    padding: 0 0.3em;
    background: #ffbc48; 
}


.a-f-baking {
    font-family: 'Merriweather', serif;
    font-size: .9em;
   
}

.main-heading{
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bolder;
    font-size: 3em;
    color: ghostwhite;
    margin: 1rem 0;
}

.main-pgraph {
    font-family: 'Merriweather', serif;
    font-size: 1.1em;
    letter-spacing: .03em;
    margin: 1em 0;
    color: rgb(242, 242, 253);
}


.ul-gral-info {
    font-family: 'Fira Sans', sans-serif; 
    letter-spacing: -0.05em;
    line-height: 1.5em;
    text-transform: uppercase;
}

ul.deco{
    font-family: 'Merriweather', serif;
    font-size: 1em;
    line-height: 1.7em;
    list-style-type:disc;
    padding-left: 1em;  
}

ol.steps{
    list-style-type:decimal;
    padding-left: 1em;  
}
.f-menu {
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bolder;
    font-size: 1.1em;
    line-height: 2em;
    text-decoration: none; 
    
}


.f-all-topics
{
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bolder;
    margin: 1em 0;  
    color: black;  
}
.f-topic{
    font-size: 1.3em;
    text-transform: uppercase; 
}
.f-subtopic{ 
    font-size: 1.2em;
}

.all-p{
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
    margin: 1em 0;
    letter-spacing: .04em;
   
}
.bq-pem{
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 1.5em 0;
    padding: 0 1em;  
    border-left-style: solid;
    border-width: 0.3em;
    border-left-color:  #ffbc48;    
}


.cption {
    font-family: 'Merriweather', serif;
    font-size: 0.85em;
    color: rgb(68, 68, 68);
}

.tbl-schedule { 
    border-collapse: collapse;
    width: 100%;
   }
.tbl-schedule thead, .tbl-schedule tbody {
    border:0.1em solid  grey;

}
.tbl-schedule thead tr :nth-child(2){
    border-left: 0.05em solid rgb(105, 105, 105);
  }
  
.th-dwn-border {
    border-bottom: 0.05em solid grey;
}

.tbl-schedule tbody tr :nth-child(2){
    border-left: 0.05em solid grey;
    border-right: 0.05em solid grey;
  }
.tbl-schedule th, .tbl-schedule td {
    text-align: center;
    padding: 0.6em 0;  
    color: black; 
}
.tbl-schedule thead th{
    font-family: 'Fira Sans', sans-serif; 
    font-weight: bolder;    
    font-size: .9em;
    text-transform: uppercase; 
    background-color: #ffbc48;
   
}

.tbl-schedule tbody td{
    font-family: 'Merriweather', serif;
    font-size: .8em;
}

.tbl-schedule tbody tr:nth-child(odd){
    background-color: #eeedee;
    /* background-color:	#e7e5e7; */
  }

.tbl-schedule tbody tr:nth-child(even) {
   
      background-color: #f6f6f6;
        
    }
   
    abbr{
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
    }
    
    /* footer flex*/

   /* margin*/
    .mainparent {
 
        display: flex;
     
        justify-content: space-between;
        align-items: center;
        background-color:lightgreen;
        /* padding:0.5em 0; */
       
       
      }
      .mainchild {
        flex: 1 1 auto;
        border: 0.2em solid red;
      }
      
      .parent-left-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap:wrap;
        border: 0.2em solid pink;
      }
      .left-child-lvl2{
       background-color: blue;
       padding: 0.3em;
       margin: 0.2em 0;
       color: white;
       color: white;
       flex: 0 1 auto;
       
      }
      
      .parent-term-priv{
       display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap:wrap;
        border: 0.1em solid pink;
      }
      
      
      .parent-term-priv li {
       background-color: orange;
       padding-right: 0.5em;
       margin: 0.2em;
       color: white;
       flex: 0 1 auto;
        }
      
      
      .parent-right-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap:wrap;
     
        border: 0.2em solid pink;
        color: white;
      
      }
      .parent-right-row li {
       background-color: blue;
       padding: 0.2em;
       margin: 0.2em;
       color: white;
       flex: 0 1 auto;
      }
      