/* FONTS*::::::::::::::::::::::::::::::::::::::::*/

/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

/* font-family: 'Cantarell', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');

/* font-family: 'Crimson Text', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

/* RESETS ::::::::::::::::::::::::::::::::::::::::*/

html, body
{
    height: 100%;

}
html{
      /* fonsts */
      --f-mhdng:Dancing Script;
      --f-hdng:Cantarell;
      --f-shdng:'Crimson Text';
      --f-common:sans-serif;
      /* colors */
      --bg-theme-sec:#2CC1C0;
      --bg-theme-sec2:#2bb9b9;
      --bg-main: rgb(255, 255, 255);
     
      --bg-theme: #fe749c;
  
      --f-clear: white;
      --f-dark: black;
  
      --f-grey: #D8D8D8;
      --shdw: grey;
      --bg-sw1: white;
      --bg-sw2: black;
  
  
      --bder-rd: 2em;



      --padd-item-status: 0.5em;
      --flx-dir-parent:column;
      --flx-dir-child: row;

      --algn-menu:left;
}
body{
    margin:0;
    background-color: rgb(51, 170, 250);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
      /*FONTS*/
      font-weight: 400;
      font-size: 1em;
      text-decoration: none; 
    
      
}
ul, ol { 
list-style-type: none;
}
b.bold{
    font-weight: 900;
}

img{
    width: auto;
	max-width: 100%;

}

/* CSS ::::::::::::::::::::::::::::::::::::::::*/


.container {
    display: flow-root;
    background-color: rgb(189, 187, 181);
    width:auto;
    max-width: 80%;
    padding:0 1em;
    margin: 0 auto;

}

.padd-section {
padding:0 1em;
display: flow-root;

}
.padd-hder-section {
  padding: 3em 1em 1em 1em;
  display: flow-root;
  border-radius: 3em 3em 0 0;
  text-align: center;
  
  }

  

.mar-list {
margin: 1em 0;
}

.mar-bger-section {
    margin: 0.5em 0;
    display: flow-root;
    }
    

.bg-theme-section{background-color: var(--bg-theme);}
.bg-theme2-section{background-color: var(--bg-theme-sec);}
.bg-main-section{background-color: var( --bg-main);}
.bg-hder-section{
  background-image: linear-gradient( var(--bg-theme-sec), rgba(22, 207, 53, 0.4),
  rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1),rgb(0, 0, 0)), url(/img/h-ready-to-eat-1920w.jpg);
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-blend-mode: normal, screen;
}

.white-strong {
    font-weight:900; 
    color: var(--f-clear);
   
}


.f-yellow{
    font-weight: bolder; 
    color: var(--bg-theme);
    text-decoration-line:underline ;
}


.a-f-baking {
    font-family: var(--f-shdng), var(--f-common); 
    font-size: .9em;
    color: black;
    font-weight: bolder; 
    padding: 0.3em;
    background-color: var(--bg-theme); 
   
}

.main-heading{
    font-family: var(--f-mhdng), var(--f-common); 
    font-weight: bolder;
    font-size: 3em;
    color: var(--f-clear);
    margin: 1rem 0;
}

.main-pgraph {
    font-family: var(--f-shdng), var(--f-common); 
    font-size: 1.1em;
    letter-spacing: .03em;
    margin: 1em 0;
    color: var(--f-clear);
    padding: 1em 10%;
    text-align: inherit;
 
}

.ul-status-m-parent{
    display: flex;
    flex-direction: var(--flx-dir-parent);
    justify-content: space-between;
    padding-left: 0;
   
  }
  
  .li-sub-parent {
    display: flex;
    flex-direction: var(--flx-dir-child);
    flex: 0 1 25%;
    font-family: var(--f-hdng), var(--f-common); 
    font-size: 0.9em;
    letter-spacing: -0.1em;
    text-transform: uppercase;
    font-weight:bolder; 
    padding: 0.3em 0.3em 0.3em 0;
  }
  
  
  .li-sub-parent span:first-child {
    color: var(--f-clear);
    padding: 0.3em 0.5em 0.3em var(--padd-item-status);
    flex: 0 1 auto;
    font-family: inherit;
    text-transform: inherit;
    font-weight:inherit;
    text-align: center;
  }
  .li-sub-parent span:last-child {
    color: black;
    padding: 0.3em;
    background-color: var(--bg-theme);
    text-align: center;
    flex: 0 1 auto;

    font-family: inherit;
    text-transform: inherit;
    font-weight:inherit;
  }

  .li-sub-parent time:last-child {
    color: black;
    padding: 0.3em;
    background-color: var(--bg-theme);
    text-align: center;
    flex: 0 1 auto;

    font-family: inherit;
    text-transform: inherit;
    font-weight:inherit;
  }
  
  
  .li-sub-parent time, .li-sub-parent abbr {
    font-weight: inherit; 
  }

.ul-menu-parent {
    display: flex;
    flex-direction: var(--flx-dir-parent);
    flex-wrap:wrap;
    justify-content:space-evenly;
    align-content: var(--algn-menu);
}

.ul-menu-parent li{
    flex: 1 0 16.66%;
    text-align: var(--algn-menu);
    padding: 0.5em 0;
    margin:0.1em;
    background-color: var(--bg-theme);
}

.ul-menu-parent li > a {
    font-family: var(--f-hdng), var(--f-common); 
    font-weight: bolder;
    font-size: 1.1em;
    color: var(--f-dark); 
    }



ul.deco{
    font-family: var(--f-shdng), var(--f-common); 
    font-size: 1em;
    line-height: 1.7em;
    list-style-type:disc;
    padding-left: 1em;  
    color:var(--bg-theme-sec2);  
}

ul.deco li *{ 
color: var(--f-dark);
}

ol.steps{
    list-style-type:decimal;
    padding-left: 1em;  
}


.f-all-topics
{
    font-family: var(--f-hdng), var(--f-common); 
    font-weight: bolder;
    margin: 1em 0;  
    color:var(--bg-theme-sec2);  
}
.f-topic{
    font-size: 1.3em;
    text-transform: uppercase; 
}
.f-subtopic{ 
    font-size: 1.2em;
}

.all-p{
    font-family: var(--f-shdng), var(--f-common); 
    font-size: 0.9em;
    margin: 1em 0;
    letter-spacing: .04em;
   
}
.bq-pem{
    font-family: var(--f-shdng), var(--f-common); 
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 1.5em 0;
    padding: 0 1em;  
    border-left-style: solid;
    border-width: 0.3em;
    border-left-color: var(--bg-theme);    
}


.cption {
    font-family: var(--f-shdng), var(--f-common); 
    font-size: 0.85em;
    color: rgb(68, 68, 68);
}


.layout {
	display: flow-root;
}


.chbox:checked + .layout {
  --f-clear: #fe749c;
  --bg-theme:white;
  --f-dark: #D8D8D8;
  --f-grey: black;
  --bg-sw1: black;
  --bg-sw2: white;
 
}
.chbox {
	display: none;
 
}
.toggle {
  padding: 0.25em 0.1em;
  max-width: 8em;
	border-radius: var(--bder-rd);
  box-shadow:  0 0 10px var(--shdw);
  display:grid;
  grid-template-columns: repeat (2, minmax(10em, 1fr));
  justify-content: space-around;
}

.switch {
	border:0.2em solid black;
  border-radius: var(--bder-rd);
	transition: transform 200ms;
  box-shadow: 0 0 0.2em var(--bg-theme-sec);
  
}

.chbox:checked + .layout .switch {
	transform: translateX(4em);
  transition: transform 200ms;
}

.sw-left, .sw-right {
  font-size: 1em;
  text-align:center;
  pointer-events: none;
  padding: 0.3em 0.6em;
  border-radius: var(--bder-rd);
  grid-row-start: 1;
}

.sw-left{
  background-color: var(--bg-theme);
  color: var(--f-dark);
  grid-column-start: 1;
  box-shadow: 0 0 0.15em var(--bg-sw2);
}

.sw-right{
  background-color: var(--f-clear);
  color: var(--f-grey);
  grid-column-start: 2;
  box-shadow: 0 0 0.15em var(--bg-sw1);
}

.sw-over{
  grid-row-start: 1;
  grid-column-start: 1;
}


.tbl-schedule { 
    border-collapse: collapse;
    width: 100%;
   }
.tbl-schedule thead, .tbl-schedule tbody {
    border:0.1em solid  grey;

}
.tbl-schedule thead tr :nth-child(2){
    border-left: 0.05em solid rgb(105, 105, 105);
  }
  
.th-dwn-border {
    border-bottom: 0.05em solid grey;
}

.tbl-schedule tbody tr :nth-child(2){
    border-left: 0.05em solid grey;
    border-right: 0.05em solid grey;
  }
.tbl-schedule th, .tbl-schedule td {
    text-align: center;
    padding: 0.6em 0;  
    color: black; 
}
.tbl-schedule thead th{
    font-family: var(--f-hdng), var(--f-common); 
    font-weight: bolder;    
    font-size: .9em;
    text-transform: uppercase; 
    background-color: var( --bg-theme);
   
}

.tbl-schedule tbody td{
    font-family: var(--f-shdng), var(--f-common); 
    font-size: .8em;
}

.tbl-schedule tbody tr:nth-child(odd){
    background-color: #eeedee;
    /* background-color:	#e7e5e7; */
  }

.tbl-schedule tbody tr:nth-child(even) {
   
      background-color: #f6f6f6;
        
    }
   
    abbr{
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
    }
    
  
    .mainparent {
        display: flex; 
        justify-content: space-between;
        align-items: center;
        flex-direction: var( --flx-dir-parent); 
       
      }
      .mainchild {
        flex: 1 1 50%;
      }
      
      .parent-left-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap:wrap;
       
      }
      .left-child-lvl2{
       
       padding: 0.3em;
       margin: 0.2em 0;
       color: var(--f-clear);
       flex: 0 1 auto;
       font-family: var(--f-shdng), var(--f-common);
       
      }
      
      .parent-term-priv{
        display: flex;
        justify-content: flex-start;
        flex-wrap:wrap;
      
       
      }
      
      
      .parent-term-priv li {
     
       padding-right: 0.5em;
       color: inherit;
       flex: 0 1 auto;
       font-family: inherit;
        }
        .parent-term-priv li a {
          color: inherit;
          font-family: inherit;
          text-align: left;
        }
      
      
      .parent-right-row {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap:wrap;
        padding: 0.5em 0;
       
        
      
      }
      .parent-right-row li {
        padding: 0em;
        margin: 0;
        flex: 0 1 auto;
        font-size: 2.5em;
        
      }
      
      .fa {
        border-radius: 1em;
        text-align: center;      
        padding:  0;       
        width: 1.5em;
        height: auto;
       
      }
      
      .fa:hover {
        opacity: 0.7;
      }
        
      .fa-facebook, .fa-twitter, .fa-instagram {
        color:var( --bg-theme);   
      }
      
     

      @media screen and (min-width: 40em) {
        html {
      
      --padd-item-status: 0;
      --flx-dir-parent:row;
      --flx-dir-child:column;
      --algn-menu:center;
      }
    }