/* FONTS*::::::::::::::::::::::::::::::::::::::::*/
/* font-family: 'Gamja Flower', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
/* font-family: 'Dancing Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
/* font-family: 'Cantarell', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap');
/* font-family: 'Crimson Text', serif; */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@700&display=swap');

/* RESETS ::::::::::::::::::::::::::::::::::::::::*/
html, body {
  height: 100%;
}

body {
  margin:0; 
}

html{
     /*VAR FONTS*/
      --f-logo: Gamja Flower;
      --f-mhdng:Dancing Script;
      --f-hdng:Cantarell;
      --f-shdng:'Crimson Text';
      --f-common:sans-serif;
    /*VAR COLORS*/
      --bg-theme-sec:#2CC1C0;
      --bg-theme-sec2:#27a8a8;
      --bg-main: rgb(255, 255, 255);    
      --bg-theme: #fe749c;
      --hlight:hsla(343, 99%, 73%, 0.3);
      --f-clear: white;
      --f-dark: black;
      --f-side-topic:#2CC1C0;
      --f-grey: #D8D8D8;
      --shdw: grey;
      --bg-sw1: white;
      --bg-sw2: black;
    /*VAR ALGMENT-DIR*/
      --flx-dir-parent:column;
      --flx-dir-child: row;
      --algn-menu:left;
    /*VAR PAD-RAD*/
      --bder-rd: 2em;
      --padd:0.5em;
      --rad:0;
      --padd-graph:0;
      --cmon-padd:0.2em;
      --menu-padd:1em;
}

* {
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none; 
  margin: 0;
  padding:0;  
}


ul, ol { 
  list-style-type: none;
}

/* general font style */
abbr{
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}

.bold{
  font-weight: 900;
}

.h-light{
  background-color:var(--hlight);
}

.white-strong {
  font-weight:900; 
  color: var(--f-clear);  
}

.f-yellow{
  font-weight: bolder; 
  color: var(--bg-theme);
  text-decoration-line:underline ;
}
img{
  border-radius: 3%;
  box-shadow: -0.2em var(--cmon-padd) var(--cmon-padd) grey; 
	max-width: 100%;
  width: auto;
  height: auto;
}

/*main wraper*/
.container {
  display: flow-root;
  width:auto;
}

/*padding and margins sections */
.padd-section {
  padding:0 1em;
}

.padd-hder-section {
  padding:0 0 1em 0;
}

.padd-hder2-section {
  border-radius:0 0 var(--rad) var(--rad) ;
  text-align: var(--algn-menu);
  padding:  1em 1em var(--padd) 1em;
}

.padd-main-layout{
  padding:0;
  display: grid;
}

  
.mar-list, .mar-bger-section {
  margin: 1em 0;
}

.mar-bger-section {
  display: flow-root;
}
    
/* back-ground sections */

.bg-theme-section{background-color: var(--bg-theme);}
.bg-theme2-section{background-color: var(--bg-theme-sec);}
.bg-main-section{background-color: var( --bg-main);}
.bg-hder-section{
  background-image: linear-gradient(var(--bg-theme-sec), 
rgba(22, 207, 53, 0.4),rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.5), 
rgba(0, 0, 0, 0.1),rgb(0, 0, 0)), url("../img/h-ready-to-eat-1920w.jpg");
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-blend-mode: normal, screen;
  box-shadow: 0 0.4em 0.8em rgba(255, 255, 255,0.3);
}


/* logo */
.a-f-baking {
  font-family: var( --f-logo), var(--f-common); 
  font-size: 2em;
  color: var(--f-dark);
  font-weight: bolder; 
  padding: var(--cmon-padd) 1.5em;
  /* background-color: var(--bg-theme);  */
  background-image:radial-gradient(rgba(255, 255, 255, 0.418), 
  rgba(255, 255, 255, 0)), linear-gradient(var(--bg-theme), #a34661);
  border-radius: 90% 90% 10% 10%;
  user-select: none;
   
}

/* items header top*/
.main-heading{
  color: var(--f-clear);
  font-family: var(--f-mhdng), var(--f-common); 
  font-weight: bolder;
  font-size: 3em;  
  margin: 1rem 0;
}

.main-pgraph {
  color: var(--f-clear);
  font-family: var(--f-shdng), var(--f-common); 
  font-size: 1.1em;
  letter-spacing: .03em;
  margin: 1em 0;
  padding: 0 var(--padd-graph);
  text-align: inherit;
}

/* items header bottom */
/* recipe general information */

.ul-status-m-parent{
  display: flex;
  flex-direction: var(--flx-dir-parent);
  justify-content: center;
  padding-left: 0; 
  gap: 0;
}
  
.li-status-sub-parent {
  display: flex;
  flex-direction: var(--flx-dir-child);
  flex: 0 1 20%;
  font-family: var(--f-hdng), var(--f-common); 
  font-size: 0.9em;  
  font-weight:bolder; 
  letter-spacing: -0.1em;
  padding: 0.3em 0.3em 0.3em 0;
  text-transform: uppercase;
}
   
.li-status-sub-parent span:first-child {
  color: var(--f-clear);   
  flex: 0 1 auto;
  font-family: inherit;   
  font-weight:inherit;
  padding: 0.3em 0.5em 0.3em 0;
  text-align: var(--algn-menu);
  text-transform: inherit;
 }

.li-status-sub-parent span:last-child, .li-status-sub-parent time:last-child {
  background-color: var(--bg-theme);  
  color: black;   
  flex: 0 1 auto;
  font-family: inherit;
  font-weight:inherit;
  padding: 0.3em;
  text-align: center;
  text-transform: inherit;
}

/* menu items */   
.ul-menu-parent {
  display: flex;
  flex-direction: var(--flx-dir-parent);
  flex-wrap:wrap;
  justify-content:space-evenly;
  align-content: var(--algn-menu); 
 }

.ul-menu-parent li {
  flex: 1 1 auto;
  text-align: var(--algn-menu);
  padding: 0.5em var(--menu-padd);
  margin:0.1em;
  background-color: var(--bg-theme);
  color: var(--f-dark); 
}

.ul-menu-parent li:hover {
  background-color:var(--f-dark);
  color: var(--f-clear); 
}

.ul-menu-parent li > a {
  color: inherit;
  font-family: var(--f-hdng), var(--f-common); 
  font-weight: bolder;
  font-size: 1em; 
}

 /* style ul and li (ingredientes, equipment, process) */
.list-deco {
  color:var(--f-side-topic);  
  font-family: var(--f-shdng), var(--f-common); 
  font-size: 1em;
  line-height: 1.7em;
  list-style-type:disc;
  padding-left: 1em;  
    
}

.list-deco li * { 
  color: var(--f-dark);
}

.list-deco li b{
  padding-right: var(--cmon-padd);
}
.list-deco li abbr{
  padding-left: var(--cmon-padd);
}
ol.steps{
  color: var(--bg-theme-sec);  
  list-style-type:decimal;
  padding-left: 1em;     
}

/* style headings and subheadigs */
.f-all-topics, .fc-main-topic2 {
  font-family: var(--f-hdng), var(--f-common); 
  font-weight: bolder;
  margin: 1em 0; 
}

.f-all-topics {
  color:var(--bg-theme-sec2);    
}

.fc-main-topic2 {
  color:var(--f-side-topic); 
}

.f-topic {
  font-size: 1.3em;
  text-transform: uppercase; 
}

.f-subtopic { 
  font-size: 1.2em;
}
/* style paragraphs */
.all-p {
  color:black;
  font-family: var(--f-shdng), var(--f-common); 
  font-size: 0.9em;   
  letter-spacing: .04em;    
  margin: 1em 0;  
}

/* style blockquote */
.bq-pem {   
  border-left-style: solid;
  border-width: 0.3em;
  border-left-color: var(--bg-theme); 
  font-family: var(--f-shdng), var(--f-common); 
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.5em;
  margin: 1.5em 0;
  padding: 0 1em;     
}

.cption, .t-table:last-child {
  color: rgb(68, 68, 68);
  font-family: var(--f-shdng), var(--f-common); 
  font-size: 0.85em;   
}

/* style toggle button */
.toggle-layout {
	display: flow-root;
}

.chbox:checked + .toggle-layout {
  --f-clear: #fe749c;
  --bg-theme:white;
  --f-dark: #D8D8D8;
  --f-grey: black;
  --bg-sw1: black;
  --bg-sw2: white;
}
.chbox {
	display: none;
}

.toggle {
  display:grid;
  background-color: white;
	border-radius: var(--bder-rd);
  box-shadow:  0 0 10px var(--shdw);
  grid-template-columns: 1fr, 1fr;
  width:auto;
  max-width:max-content;
  justify-content: space-around;
  padding: 0.25em 0.3em;
}

.switch {
  cursor: pointer;
	border:var(--cmon-padd) solid black;
  border-radius: var(--bder-rd);
  box-shadow: 0 0 0.3em #fe749c;
  grid-row-start: 1;
  grid-column-start: 1;
  transition: transform 200ms;
}

.chbox:checked + .toggle-layout .switch {
  box-shadow: 0 0 0.3em #fe749c;
	transform: translateX(3.5em);
  transition: transform 200ms;
 }

.sw-left, .sw-right {
  border-radius: var(--bder-rd);
  font-size: 1em;
  grid-row-start: 1;
  pointer-events: none;
  padding: 0.3em 0.6em;
  text-align:center;
  user-select: none;
}

.sw-left {
  color: var(--f-dark);
  background-color: var(--bg-theme);
  box-shadow: 0 0 0.15em var(--bg-sw2);
  grid-column-start: 1;
}

.sw-right {
  color: var(--f-grey);
  background-color: var(--f-clear);
  box-shadow: 0 0 0.15em var(--bg-sw1);
  grid-column-start: 2;
}

/* style table */
.tbl-schedule { 
  border-collapse: collapse; 
  box-shadow: -0.1em 0.1em 0.5em grey;
  width: 100%;
  margin-bottom: 0.3em;
}

.tbl-schedule thead, .tbl-schedule tbody {
  border:0.1em solid  grey;
}

.tbl-schedule thead tr :nth-child(2){
  border-left: 0.05em solid rgb(105, 105, 105);
}
  
.th-dwn-border {
  border-bottom: 0.05em solid grey;
}

.tbl-schedule tbody tr :nth-child(2) {
  border-left: 0.05em solid grey;
  border-right: 0.05em solid grey;
}

.tbl-schedule th, .tbl-schedule td { 
  color: black;
  padding: 0.6em 0;
  text-align: center;  
}

.tbl-schedule thead th {
  background-color: var( --bg-theme);
  font-family: var(--f-hdng), var(--f-common); 
  font-weight: bolder;    
  font-size: .9em;
  text-transform: uppercase;  
}

.tbl-schedule tbody td{
  font-family: var(--f-shdng), var(--f-common); 
  font-size: .8em;
}

.tbl-schedule tbody tr:nth-child(odd){
  background-color: #eeedee;
}

.tbl-schedule tbody tr:nth-child(even) { 
  background-color: #f6f6f6;
}
    
/* style footer section */

/* footer main-parent */
.fter-mainparent {
  align-items: center;
  display: flex; 
  flex-direction: var( --flx-dir-parent);
  justify-content: space-between; 
}

/* footer main child, right and left */
.fter-mainchild {
  flex: 1 1 50%;
}

/* sub parent left*/
.parent-left-col {
  display: flex;
  flex-direction: column;  
  flex-wrap:wrap;
  justify-content: center;
}

/* sub child left*/
.left-child-lvl2 {
  color: var(--f-dark);
  flex: 0 1 auto;
  font-family: var(--f-shdng), var(--f-common);
  margin: var(--cmon-padd) 0;
  padding: 0.3em;
}
 /* ul for terms and privacy */     
.parent-term-priv {
  display: flex;
  justify-content: flex-start;
  flex-wrap:wrap;
}
 /* li terms and privacy */    
.parent-term-priv li {    
  color: inherit;
  flex: 0 1 auto;
  font-family: inherit;
  padding-right: 0.5em;
}
/* terms and privacy anchors*/
.parent-term-priv li a {
  color: inherit;
  font-family: inherit;
  text-align: left;
}
 
/* sub parent right - ul social media*/
.parent-right-row {
  display: flex;
  flex-wrap:wrap;
  justify-content: flex-end;
  padding: 0.5em 0;
}

/* li social media */
.parent-right-row li {
  padding: 0em;
  margin: 0;
  flex: 0 1 auto;
  font-size: 2.5em;
}

/* social media icons */
      
.fa {
  border-radius: 1em;
  text-align: center;      
  padding:  0;       
  width: 1.5em;
  height: auto;
}
      
.fa:hover {
  color:var(--bg-theme-sec2); 
}
        
.fa-facebook, .fa-twitter, .fa-instagram {
  color:var(--bg-theme-sec);   
}
  
/* bptton go to*/
.go-top {
  display: flex;
  justify-content: flex-end;
  }
  
  .a-top{
    color:#ffd4e0;
    background-color: var(--bg-theme-sec2); 
    border-radius: 20% 20% 0 0;
    box-shadow: -0.05em -0.05em 0.1em rgba(0, 0, 0, 0.8);
    font-size: 1em;
    font-weight: bolder;
    padding: 0.3em 0.5em;
    position: relative;
    text-align: center;
    top: -0.5em;
    
  }

  /* MEDIA-Q //////////////////////////////////////////*/


@media screen and (min-width: 55em) {
  html {  
    --flx-dir-parent:row;
    --flx-dir-child:column;
    --algn-menu:center;
    --padd:1.5em;
    --rad:3em;
    --padd-graph:10%;
    --menu-padd:0;
    --f-side-topic: black;
  }

  .container {
    box-shadow: 0 0.3em 0.7em grey;
    max-width: 100%;
    margin: 0 auto;
  }

  .padd-main-layout{
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "sid nav"
    "sid  ma"
    "sid  mb"
    "sid fot";
  }

  .navigator { grid-area: nav;}

  .footer    { grid-area: fot;}

  .side-bar  { 
    grid-area: sid;
    background-color: var(--bg-theme-sec);
  }
        
  .main-content {
    flex-grow: 1;
  }

  .main-contentA{
    grid-area: ma;
  }

  .main-contentB{
    grid-area: mb;
  }

  .ul-status-m-parent {
    gap: 1em;
  }
}
   
@media screen and (min-width: 60em) {
  .container {
    max-width: 85%;
  }
}

@media screen and (min-width: 70em) {
  .container {
    max-width: 75%;
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: 70%;
  }
}

@media screen and (min-width: 80em) {
  .container {
    max-width: 60%;
  }
}